################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Project_WPF/My_Project1/My_Project1/.vs/My_Project1/v15
