<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="My_Project1.Properties.Settings.ConnString" connectionString="server=172.16.80.228;user=username;database=shop;port=3306;password=password;" />
        <add name="My_Project1.Properties.Settings.CoonStringPersonal"
            connectionString="server=172.16.80.228;user=username;database=my_company;port=3306;password=password;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>